<header>
  <img
    src="../../../../../assets/img/perfil-teste.jpg"
    alt="Rodrigo Oliveira - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  >
  <h1>Rodrigo de Oliveira dos Santos</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs</p>
    <p>Sao Paulo, Sao Paulo, Brasil</p>
    <p>
      Estou na area de Desenvolvimento a 1 ano. Devido isso
      resolvi abracar a stack JS pois atua no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="../../../../../assets/pdf/CVN2.0-Rodrigo de Oliveira dos Santos.docx.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/rodrigo-oliveira-27a18415a/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>

      </ul>
    </nav>

    <section>
      <figure>
        <img src="../../../../../assets/icons/whatsapp.svg"
        alt="Icone para contato do Whatsapp"
        width="22px"
        height="24px"
        >
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5511958750103&text=Ol%C3%A1%20Rodrigo,%20preciso%20de%20um%20job!"
          target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (11) 95875-0103</p>
          </a>
        </figcaption>

      </figure>

      <figure>
        <img src="../../../../../assets/icons/mail.svg"
        alt="Icone para contato do e-mail"
        width="22px"
        height="24px"
        >
        <figcaption>
          <a href="mailto:rodrigoyukimide@gmail.com"
          target="_blank"
          >
            <strong>Envie um e-mail para:</strong>
            <p>rodrigoyukimide&#64;gmail.com</p>
          </a>
        </figcaption>

      </figure>
    </section>

  </div>
</aside>
